<%= render partial: 'layouts/feed_nav' %>
<div class="container">
  <div class="row">
    <div class="col-sm-8" id="card-list">
      <div class="panel panel-default">
        <h3 class="text-center">Inspiring images from your search for <span class="text-success"><%= @location %></span>!</h3>
        <p class="text-center">Build your <span class="lobster text-success">Adventurrin</span> que and never waste a weekend again!</p>
      </div>
      <div class="row">
        <% @feed.each do |feed| %>
          <% if render_location(feed) %>
            <div class="col-sm-4 pb-30">
              <a href="#" class="feed-image" data-target="#photo-<%= feed.id %>" >
                <%= image_tag feed.images.standard_resolution.url, class: "img-responsive",
                          alt: "#{current_user.name} image" %>
              </a>
            </div>
            <!-- Modal -->
            <%= render partial: 'feed_modal', locals: {feed: feed} %>
             <!-- end of Modal -->
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-sm-4">
      <%= render partial: 'saved_adventures' %>
    </div>
  </div>
  <%= render partial: 'layouts/pending_search' %>
  <%= render partial: 'layouts/pending_feed_update' %>
</div>
